{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} reset-password-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">
    {{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    &rsaquo;{{ original|truncatewords:"18" }}
</div>
{% endblock %}
{% endif %}

{% block content %}
<div id="content-main">
    {% block object-tools %}
    <ul class="object-tools">
        {% block object-tools-items %}
        <li>
            {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
            <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
        </li>
        {% endblock %}
    </ul>
    {% endblock %}
    <form action="{{ form_url }}" method="post" id="{{ opts.model_name }}_reset_password_form">{% csrf_token %}{% block form_top %}{% endblock %}
        <div>
            {% if errors %}
            <p class="errornote">
                {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please
                correct the errors below." %}{% endif %}
            </p>
            {% endif %}

            <fieldset class="module aligned ">
                <h2>重置密码</h2>
                <div class="form-row">
                  {{ form.password1.errors }}
                  {{ form.password1.label_tag }} {{ form.password1 }}
                  {% if form.password1.help_text %}
                  <p class="help">{{ form.password1.help_text|safe }}</p>
                  {% endif %}
                </div>
                <div class="form-row">
                  {{ form.password2.errors }}
                  {{ form.password2.label_tag }} {{ form.password2 }}
                  {% if form.password2.help_text %}
                  <p class="help">{{ form.password2.help_text|safe }}</p>
                  {% endif %}
                </div>
            </fieldset>

            <div class="submit-row">
                <input type="submit" value="{% trans 'Change password' %}" class="default" />
            </div>

        </div>
    </form>
</div>
{% endblock %}
